node_modules/
dist/
.umi/
.umi-production/
app/dist
app/public/*
!app/public/docs/
!app/public/docs/**
!app/public/assets/
!app/public/assets/**

# misc
.DS_Store

*.map
.DS_Store
.npmignore
.env.local
/.vscode
/.idea
/.cursor
/.claude
.history/

.npmrc
.qoder
/design

/packages/*/dist/
/packages/a2ui-render/src/components/BaseRenderer/generated/antdShadowCss.generated.ts
packages/a2ui-comp-preset/src/schemas/
packages/a2ui-comp-preset/src/presetSchemas.generated.ts
packages/a2ui-comp-preset/src/registry.ts