@primary-color: #417ffb;
@info-color: #3998f7;
@success-color: #02b342;
@warning-color: #faaf0c;
@error-color: #f23030;
@highlight-color: #f23030;
@color-fill-1: #fff;
@color-fill-2: #f7f8fa;
@color-fill-3: #f2f3f5;
@color-fill-4: #ebebf0;
@color-fill-5: #64677a;
@color-line-1: #f2f3f5;
@color-line-2: #e4e4eb;
@color-line-3: #dcdde5;
@color-line-4: #d5d6e0;
@box-shadow-1: 0px 1px 4px rgba(100, 103, 122, 0.06);
@box-shadow-2: 0px 2px 8px rgba(100, 103, 122, 0.08);
@box-shadow-3: 0px 4px 16px rgba(100, 103, 122, 0.12);
@box-shadow-4: 0px 8px 24px rgba(100, 103, 122, 0.24);
@white: #fff;
@black: #000;
@heading-color: #2a2b33;
@text-color: #414352;
@text-color-paragraph: #64677a;
@text-color-secondary: #9092a3;
@disabled-color: #b0b2bf;
@text-color-inverse: #fff;
@text-color-dark: rgba(255, 255, 255, 0.85);
@text-color-paragraph-dark: rgba(255, 255, 255, 0.75);
@text-color-secondary-dark: rgba(255, 255, 255, 0.65);
@disabled-color-dark: rgba(255, 255, 255, 0.45);
@icon-color-hover: rgba(42, 43, 51, 0.75);
@icon-color-secondary: rgba(42, 43, 51, 0.45);
@icon-color-heading: rgb(42, 43, 51);
@icon-color: inherit;
@link-color: #417ffb;
@body-background: linear-gradient(180deg, #EBF0FF 0%, #F2F3F7 100%);
@background-color-base: #f2f3f5;
@component-background: #fff;
@background-color-light: #f7f8fa;
@border-color-base: #dcdde5;
@border-color-split: #e4e4eb;
@dividing-color: #dcdde5;
@disabled-bg: #f2f3f5;
@disabled-active-bg: #ebebf0;
@modal-mask-bg: rgba(42, 43, 51, 0.45);
@item-hover-bg: rgba(42, 43, 51, 0.06);
@item-active-bg: #f0f7ff;
@label-required-color: #f23030;
@line-height-base: 1.5715;
@font-size-sm: 12px;
@font-size-base: 13px;
@font-size-md: 14px;
@font-size-lg: 16px;
@font-weight: 500;
@article-size-sm: 12px;
@article-size-md: 14px;
@article-size-lg: 16px;
@article-line-height: 2;
@heading-1-size: 36px;
@heading-2-size: 28px;
@heading-3-size: 23px;
@heading-4-size: 19px;
@heading-5-size: 15px;
@heading-6-size: 13px;
@border-radius-base: 4px;
@border-radius-sm: 2px;
@border-radius-md: 4px;
@border-radius-lg: 8px;
@border-radius-round: 50%;
@box-border-radius: 4px;
@space-xxs: 2px;
@space-xs: 4px;
@space-sm: 8px;
@space-md: 12px;
@space-lg: 16px;
@space-xl: 20px;
@space-xxl: 24px;
@padding-lg: 24px;
@padding-md: 16px;
@padding-sm: 12px;
@padding-xs: 8px;
@padding-xxs: 4px;
@padding-xxxs: 2px;
@margin-lg: 24px;
@margin-md: 16px;
@margin-sm: 12px;
@margin-xs: 8px;
@margin-xxs: 4px;
@margin-xxxs: 2px;
@box-padding-base: 24px;
@box-padding-sm: 16px;
@size-xs: 16px;
@size-sm: 24px;
@size-md: 28px;
@size-base: 32px;
@size-lg: 36px;
@size-xl: 56px;
@width-xs: 256px;
@width-sm: 500px;
@width-md: 768px;
@width-lg: 1000px;
@width-xl: 80%;
@table-header-bg: #f7f8fa;
@btn-height-base: 28px;
@btn-height-lg: 36px;
@btn-height-sm: 24px;
@radio-size: 16px;
@checkbox-size: 16px;
@input-height-base: 28px;
@input-height-lg: 36px;
@input-height-sm: 24px;
@menu-inline-toplevel-item-height: 36px;
@menu-item-height: 36px;
@tabs-card-height: 36px;
@tree-title-height: 24px;
@transfer-header-height: 36px;
@page-space: 0px;
@box-padding-lg: 32px;
@shadow-1-up: 0px 1px 4px rgba(100, 103, 122, 0.06);
@shadow-1-left: 0px 1px 4px rgba(100, 103, 122, 0.06);
@shadow-1-right: 0px 1px 4px rgba(100, 103, 122, 0.06);
@height-base: 28px;
@height-lg: 36px;
@height-sm: 24px;
